ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cadetblue;
  width:100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: deepskyblue;
}
ul li a{
  font-size: 20px;
}

h3{
  font-size:large;
}

table tr:hover{
  cursor:pointer;
}
