<h1 align="center" font-size="40px"><a [routerLink]='["/view-cooper-test"]'>Sports App</a></h1>
<ul class='nav navbar-nav'>
  <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a [routerLink]='["/view-cooper-test"]'>Cooper Tests</a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/view-cooper-test-details"]'>Cooper Test Details</a>
  </li>
  <li [routerLinkActive]='["link-active"]'>
    <a [routerLink]='["/view-user"]'>Users</a>
  </li>
</ul>

<table class='table table-striped'>
  <tr>
    <th>Id</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>User Type</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let content of service.list">
    <td>{{content.Id}}</td>
    <td>{{content.Firstname}}</td>
    <td>{{content.Lastname}}</td>
    <td>{{content.UserType}}</td>
    <td><button class="btn btn-danger" (click)="onDelete(content.Id)">Delete</button></td>
  </tr>
</table>
<a [routerLink]="['/add-user']" class="btn btn-success">Add User</a>

